<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" value="<%= cotacao %>">
    <input name="quantidade" placeholder="Quantidade de dólares">
    <button>Converter!</button>
</form>
<%- include('footer') %>